<!-- templates/index.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Counter App</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
</head>
<body>
    <h1>Counters</h1>
    <p>Counter 1: <span id="counter1"></span></p>
    <p>Counter 2: <span id="counter2"></span></p>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            setInterval(updateCounters, 1000);
        });

        function updateCounters() {
            $.getJSON('/counters', function(data) {
                $('#counter1').text(data.counter1);
                $('#counter2').text(data.counter2);
            });
        }
    </script>
</body>
</html>
