<!-- templates/increment.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Increment Counters</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
</head>
<body>
    <h1>Increment Counters</h1>
    <button onclick="incrementCounter()">Increment Counter</button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function incrementCounter() {
            $.get('/increment',{}, function(data) {
                if (data.success) {
                    console.log('Counter incremented');
                }
            });
        }
    </script>
</body>
</html>
