<!-- templates/oz.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Behind the Curtain</title>
    <link rel= "stylesheet" href= "static/styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Atkinson+Hyperlegible">
    <script src="static/scripts/oz.js" type="module"></script>
</head>
<body>
	<div class="out center_v">
    	<h1>Behind the Curtain</h1>
        <button id="connect-joy-cons">Connect joy-con</button>
        <br> <br>
        <h4 id="start-text">Started: False</h4>
        <button id="start-button">Start game</button>
        <br> <br> 
        <h5 id="score-text">Score: --</h5>
        <button id="increment-button">Increment Counter</button>
        <button id="vibrate-joy-cons">Vibrate joy-cons</button>
	</div>
    
</body>
</html>
